/* Background */
.HomeBG{
    background-image:url(./Images/Lasers2.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

/* Navbar */
.navbar{
    min-height:10px;
    padding: 2px;
    background-color: black;
    color: white;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-family: oswald;
    font-weight: lighter;
}

.NavItem{
    padding: 35px;
}

.NavItem:link {
    text-decoration: none;
    color: white;
}
  
.NavItem:hover {
    text-decoration: none;
    color: hotpink;
}

/* Main heading and buttons */
#WhatGame{
    display: flex;
    justify-content: center;
    color:rgb(255, 183, 215);
    font-size:55px;
    -webkit-text-stroke: 2px black;
    font-family: oswald;
}

.CategoryButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.AllButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.button{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 350px;
    border:3px solid black;
    border-radius: 17px;
    font-family: oswald;
    font-size: 20px;
    background-color: rgb(192, 241, 255);
    text-decoration: none; 
    color:black;
}

.btnLink:link {
    text-decoration: none;
    color: black;
}
  
.btnLink:hover {
    text-decoration: none;
    color: hotpink;
}

/* Animation to still be completed */
/* 
.opening{
    position: absolute;
    display: flex;
    top: 48%;
    left: 34%;
    right: 34%;
} */

/* .opening{
    color: blue;
    font-style: italic;
} */

/* Slideshow */
.ContainerWide{
    max-width: 100%;
    padding: 0;
}

.swiper-slide figure {
    margin: 0;
    position: relative;
    overflow: hidden;
    padding-top: 25%;
}

.swiper-slide figcaption{
    background-color: black;
    color: white;
    font-family: oswald;
    font-size: 17px;
    position: absolute;
    bottom: 0;
    line-height: 29px;
    display: flex;
    justify-content: center;
    padding: 2%;
    border-radius: 8px 8px 0 0;
    left: 50%;
    transform: translate3d(-50%, 100%, 0);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.swiper-slide img{
    display: block;
    width: 100%;
    height: 8rem;
    object-fit: cover;
    border: 2px solid black;
}

.swiper-slide-active figcaption{
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
}

.swiper-custom-nav{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

#nav-left{
    height: 100%;
}

#nav-right{
    height: 100%;
}

.swiper-custom-nav img{
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
    filter: brightness(170%);
}

.swiper-custom-nav img:hover{
    opacity: 1;
    filter: brightness(200%);
}
